<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.quickdev.mapper.UserTestMapper">
    <resultMap type="com.example.quickdev.entity.UserTest" id="userTestMap">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="funkyNumber" property="password"/>
        <result column="created" property="created"/>
    </resultMap>
    <select id="selectAll" resultMap="userTestMap">
		select * from T_USER_TEST
	</select>
</mapper>